html {
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    /*background-color: rgba(240,240,240,1);*/
    background-color: rgba(249, 249, 249,1);
    
}

body {
    width: 100%;
}


#iphone{
    margin:auto;
}


h1{
	color: rgba(64,64,64,1);
	font-size: 5em;
    font-family: 'Roboto Condensed', sans-serif, regular;

    
}

h3{
    color: rgba(64,64,64,1);
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif, regular;
}

p {
    font-size: 0.9em;
    font-family: 'Roboto Condensed', sans-serif, regular;
    text-align:center;
}

#title{
    margin:auto;
    margin-left: 0;
    margin-right: 0;
}

.titleitem{
    text-align:center;
}

#checkmark{
    margin-bottom:20px;
}
.container{
    width:70%;
    min-height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items:flex-start;
}

.item{
    flex-basis: 33%;
    margin: auto; 
}

#img{
    flex-basis:55%;
    margin-top:20%;
    width:100%;
}

#text{
    flex-basis:45%;
    margin-top:30%;
}

.description{
 
    text-align: left;
}

.item > img {
    margin-left: calc(50% - 125px);
}

.item > p {
    margin-left: calc(50% - 125px);
    width: 250px;
}


#demo{ 
    width:100%;
    margin:0;
}

.description > img{
    width:100%;
}


@media(max-width: 1150px ){
    #space{
        width:100%;
        margin:0;
    }

}

@media (max-width:1000px){


.titleitem h1{
    text-align:left;
    font-size:3em;
    float:left;
    margin:0;
    
}

.titleitem h3{
    text-align:left;
    font-size:1em;
    margin:0;

}

#title{
    float:left;
    margin-left:30px;
    margin-right:auto;
}

#checkmark{
    width:50px;
    margin-left:10;
}

.container{
    width:100%;
    margin:0;
    flex-wrap: wrap;
    min-height: 0;
}
    #img{
    display: none;
}

    #text{
    flex-basis:100%;
    margin-top:0;
    padding:20px;
}
.item{
    flex-basis: 100%;
    margin-bottom: 40px; 
}

.description > p{
    text-align:left;
}
} 

