html {
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: rgba(240,240,240,1);
    
}

body {
    width: 100%;
}
#header{
    height: 100vh;
}

#iphone{
    margin:auto;

}

h1{
	color: rgba(64,64,64,1);
	font-size: 5em;
    font-family: 'Roboto Condensed', sans-serif, regular;
    line-height: 56px;
    
}

h3{
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif, regular;
}

p {
    font-size: 0.9em;
    font-family: 'Roboto Condensed', sans-serif, regular;
    text-align:center;
}

#title{
    margin:auto;
        margin-left: 0;
    margin-right: 0;

}

.container{
    width:70%;
    height:100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    /*margin: auto;*/
    margin-left: 15%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.item{
    /*flex-grow:3;*/
    flex-basis: 33%;
    margin: 0; 
}

.item > img {
    margin-left: calc(50% - 125px);
}

.item > p {
    margin-left: calc(50% - 125px);
    width: 250px;
}

#title{
    padding:40px;

}

.titleitem{
    flex-basis: 50%;
    margin:0;
}




